<%- include('partials/header') -%>

    <h1>Contact</h1>
    <br>

    <h4>
        By Aayush Adhikari. For any queries, feel free to contact me.
    </h4>
    <br><br>
    <a href="mailto:aayush.adhikari.extra@gmail.com">
        <button type="button" class="btn btn-primary">
            CONTACT HERE
        </button>
    </a>
    <%- include('partials/footer') -%>